{% extends "base.html "%}

{% block title %}About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}

<div class="container my-3">
  <h2 class="text-center my-3 py-3">Me at glance</h2>
  <div class="row ml-1">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/random/500x200?/code" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Designer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/random/500x200?/Programmer" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Developer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/random/500x200?/Entertainment" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Entertatiner</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center my-4">My coding video</h1>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
      allowfullscreen></iframe>
  </div>
</div>

{% endblock body %}