{% extends "base.html" %}

{% block title %}Contact{% endblock title %}
{% block contactsactive %}active{% endblock contactsactive %}
{% block body %}

<div class="container my-3">
  <h2 class="text-center">Contact me</h2>

  <form action="/contact" method="post">
    {%csrf_token%}
    <!--CROSS SITE REQUEST FORGEDY -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name='names' placeholder="Enter your name">
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="phone" class="form-control" id="phone" name='phone' placeholder="Enter your phone number">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Explain your concern</label>
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

{% endblock body %}